openapi: 3.1.0
info:
  title: Qonto Business Cards Transactions & Statements API
  description: Business banking API for Qonto - programmatic access to business accounts, EUR transactions, SEPA and international transfers, cards, client and supplier invoices, SEPA Direct Debit, payment links, terminals, and webhooks. Authenticated with a login+secret-key API key or OAuth 2.0. Modeled from public documentation.
  version: v2
  contact:
    name: Qonto Developers
    url: https://docs.qonto.com/
  termsOfService: https://qonto.com/en/legal
servers:
- url: https://thirdparty.qonto.com
  description: Production
- url: https://thirdparty-sandbox.staging.qonto.co
  description: Sandbox
security:
- SecretKey: []
- OAuth: []
tags:
- name: Transactions & Statements
paths:
  /v2/transactions:
    get:
      operationId: listTransactions
      tags:
      - Transactions & Statements
      summary: List transactions
      description: 'OAuth scope: organization.read'
      parameters:
      - name: bank_account_id
        in: query
        schema:
          type: string
      - name: iban
        in: query
        schema:
          type: string
      - name: status[]
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - pending
            - declined
            - completed
      - name: updated_at_from
        in: query
        schema:
          type: string
          format: date-time
      - name: settled_at_from
        in: query
        schema:
          type: string
          format: date-time
      - name: includes[]
        in: query
        schema:
          type: array
          items:
            type: string
      - $ref: '#/components/parameters/CurrentPage'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A paginated list of transactions
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v2/transactions/{id}:
    get:
      operationId: getTransaction
      tags:
      - Transactions & Statements
      summary: Retrieve a transaction
      description: 'OAuth scope: organization.read'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A single transaction
        '404':
          description: Not found
  /v2/statements:
    get:
      operationId: listStatements
      tags:
      - Transactions & Statements
      summary: List statements
      description: 'OAuth scope: organization.read'
      responses:
        '200':
          description: A list of account statements
components:
  parameters:
    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 100
    CurrentPage:
      name: current_page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
  responses:
    Unauthorized:
      description: Missing or invalid authentication
    TooManyRequests:
      description: Rate limit exceeded (1000 req/10s or 10000 req/10min per IP; or more than 200 requests returning 401 within 1 hour).
  securitySchemes:
    SecretKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Qonto API key. Value is the organization sign-in and secret key concatenated with a colon - "Authorization: {sign-in}:{secret-key}". This resembles HTTP Basic auth but is NOT - the value is not Base64 encoded.'
    OAuth:
      type: oauth2
      description: OAuth 2.0 authorization code flow. Access tokens are valid 1 hour; refresh tokens 90 days (offline_access). Bearer access token sent in the Authorization header.
      flows:
        authorizationCode:
          authorizationUrl: https://oauth.qonto.com/oauth2/auth
          tokenUrl: https://thirdparty.qonto.com/oauth2/token
          scopes:
            openid: OpenID Connect ID token
            offline_access: Issue a refresh token
            organization.read: Read organization, accounts, memberships, labels, transactions
            membership.read: Read the authenticated membership
            membership.write: Create memberships
            team.read: Read teams
            team.write: Create teams
            subscription.read: Read the organization subscription plan
            card.read: Read cards
            card.write: Manage cards
            payment.write: Create SEPA transfers and manage beneficiaries
            internal_transfer.write: Create internal transfers
            international_transfer.write: Create international transfers and beneficiaries
            beneficiary.trust: Trust SEPA beneficiaries
            attachment.read: Read attachments
            attachment.write: Upload attachments
            client.read: Read clients (customers)
            client.write: Manage clients (customers)
            client_invoices.read: Read client invoices, quotes, credit notes
            client_invoice.write: Manage client invoices, quotes, credit notes
            supplier_invoice.read: Read supplier invoices
            supplier_invoice.write: Manage supplier invoices
            product.read: Read products
            product.write: Manage products
            sepa_direct_debit.read: Read SEPA Direct Debit collections/mandates
            sepa_direct_debit.write: Manage SEPA Direct Debit mandates/subscriptions
            payment_link.read: Read payment links
            payment_link.write: Manage payment links
            terminal.read: Read terminals and terminal payments
            terminal.write: Create terminal payments
            einvoicing.read: Read e-invoicing settings
            insurance_contract.read: Read insurance contracts
            insurance_contract.write: Manage insurance contracts
            embed_auth_link.write: Create Embed Auth Links
            webhook: Manage webhook subscriptions
